# Credit Risk Resampling Techniques

In [1]:
import warnings
warnings.filterwarnings('ignore')

In [2]:
import numpy as np
import pandas as pd
from pathlib import Path
from collections import Counter

# Read the CSV and Perform Basic Data Cleaning

In [3]:
columns = [
    "loan_amnt", "int_rate", "installment", "home_ownership",
    "annual_inc", "verification_status", "issue_d", "loan_status",
    "pymnt_plan", "dti", "delinq_2yrs", "inq_last_6mths",
    "open_acc", "pub_rec", "revol_bal", "total_acc",
    "initial_list_status", "out_prncp", "out_prncp_inv", "total_pymnt",
    "total_pymnt_inv", "total_rec_prncp", "total_rec_int", "total_rec_late_fee",
    "recoveries", "collection_recovery_fee", "last_pymnt_amnt", "next_pymnt_d",
    "collections_12_mths_ex_med", "policy_code", "application_type", "acc_now_delinq",
    "tot_coll_amt", "tot_cur_bal", "open_acc_6m", "open_act_il",
    "open_il_12m", "open_il_24m", "mths_since_rcnt_il", "total_bal_il",
    "il_util", "open_rv_12m", "open_rv_24m", "max_bal_bc",
    "all_util", "total_rev_hi_lim", "inq_fi", "total_cu_tl",
    "inq_last_12m", "acc_open_past_24mths", "avg_cur_bal", "bc_open_to_buy",
    "bc_util", "chargeoff_within_12_mths", "delinq_amnt", "mo_sin_old_il_acct",
    "mo_sin_old_rev_tl_op", "mo_sin_rcnt_rev_tl_op", "mo_sin_rcnt_tl", "mort_acc",
    "mths_since_recent_bc", "mths_since_recent_inq", "num_accts_ever_120_pd", "num_actv_bc_tl",
    "num_actv_rev_tl", "num_bc_sats", "num_bc_tl", "num_il_tl",
    "num_op_rev_tl", "num_rev_accts", "num_rev_tl_bal_gt_0",
    "num_sats", "num_tl_120dpd_2m", "num_tl_30dpd", "num_tl_90g_dpd_24m",
    "num_tl_op_past_12m", "pct_tl_nvr_dlq", "percent_bc_gt_75", "pub_rec_bankruptcies",
    "tax_liens", "tot_hi_cred_lim", "total_bal_ex_mort", "total_bc_limit",
    "total_il_high_credit_limit", "hardship_flag", "debt_settlement_flag"
]

target = ["loan_status"]

In [4]:
# Load the data
file_path = Path('./Resources/LoanStats_2019Q1.csv')
df = pd.read_csv(file_path, skiprows=1)[:-2]
df = df.loc[:, columns].copy()

# Drop the null columns where all values are null
df = df.dropna(axis='columns', how='all')

# Drop the null rows
df = df.dropna()

# Remove the `Issued` loan status
issued_mask = df['loan_status'] != 'Issued'
df = df.loc[issued_mask]

# convert interest rate to numerical
df['int_rate'] = df['int_rate'].str.replace('%', '')
df['int_rate'] = df['int_rate'].astype('float') / 100


# Convert the target column values to low_risk and high_risk based on their values
x = {'Current': 'low_risk'}   
df = df.replace(x)

x = dict.fromkeys(['Late (31-120 days)', 'Late (16-30 days)', 'Default', 'In Grace Period'], 'high_risk')    
df = df.replace(x)

df.reset_index(inplace=True, drop=True)

df.head()

,loan_amnt,int_rate,installment,home_ownership,annual_inc,verification_status,issue_d,loan_status,pymnt_plan,dti,...,pct_tl_nvr_dlq,percent_bc_gt_75,pub_rec_bankruptcies,tax_liens,tot_hi_cred_lim,total_bal_ex_mort,total_bc_limit,total_il_high_credit_limit,hardship_flag,debt_settlement_flag
0,10500.0,0.1719,375.35,RENT,66000.0,Source Verified,Mar-2019,low_risk,n,27.24,...,85.7,100.0,0.0,0.0,65687.0,38199.0,2000.0,61987.0,N,N
1,25000.0,0.2000,929.09,MORTGAGE,105000.0,Verified,Mar-2019,low_risk,n,20.23,...,91.2,50.0,1.0,0.0,271427.0,60641.0,41200.0,49197.0,N,N
2,20000.0,0.2000,529.88,MORTGAGE,56000.0,Verified,Mar-2019,low_risk,n,24.26,...,66.7,50.0,0.0,0.0,60644.0,45684.0,7500.0,43144.0,N,N
3,10000.0,0.1640,353.55,RENT,92000.0,Verified,Mar-2019,low_risk,n,31.44,...,100.0,50.0,1.0,0.0,99506.0,68784.0,19700.0,76506.0,N,N
4,22000.0,0.1474,520.39,MORTGAGE,52000.0,Not Verified,Mar-2019,low_risk,n,18.76,...,100.0,0.0,0.0,0.0,219750.0,25919.0,27600.0,20000.0,N,N

In [5]:
df.info(verbose=True)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 68817 entries, 0 to 68816
Data columns (total 86 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   loan_amnt                   68817 non-null  float64
 1   int_rate                    68817 non-null  float64
 2   installment                 68817 non-null  float64
 3   home_ownership              68817 non-null  object
 4   annual_inc                  68817 non-null  float64
 5   verification_status         68817 non-null  object
 6   issue_d                     68817 non-null  object
 7   loan_status                 68817 non-null  object
 8   pymnt_plan                  68817 non-null  object
 9   dti                         68817 non-null  float64
 10  delinq_2yrs                 68817 non-null  float64
 11  inq_last_6mths              68817 non-null  float64
 12  open_acc                    68817 non-null  float64
 13  pub_rec                     68817 non-null  float64
 14  revol_bal                   68817 non-null  float64
 15  total_acc                   68817 non-null  float64
 16  initial_list_status         68817 non-null  object
 17  out_prncp                   68817 non-null  float64
 18  out_prncp_inv               68817 non-null  float64
 19  total_pymnt                 68817 non-null  float64
 20  total_pymnt_inv             68817 non-null  float64
 21  total_rec_prncp             68817 non-null  float64
 22  total_rec_int               68817 non-null  float64
 23  total_rec_late_fee          68817 non-null  float64
 24  recoveries                  68817 non-null  float64
 25  collection_recovery_fee     68817 non-null  float64
 26  last_pymnt_amnt             68817 non-null  float64
 27  next_pymnt_d                68817 non-null  object
 28  collections_12_mths_ex_med  68817 non-null  float64
 29  policy_code                 68817 non-null  float64
 30  application_type            68817 non-null  object
 31  acc_now_delinq              68817 non-null  float64
 32  tot_coll_amt                68817 non-null  float64
 33  tot_cur_bal                 68817 non-null  float64
 34  open_acc_6m                 68817 non-null  float64
 35  open_act_il                 68817 non-null  float64
 36  open_il_12m                 68817 non-null  float64
 37  open_il_24m                 68817 non-null  float64
 38  mths_since_rcnt_il          68817 non-null  float64
 39  total_bal_il                68817 non-null  float64
 40  il_util                     68817 non-null  float64
 41  open_rv_12m                 68817 non-null  float64
 42  open_rv_24m                 68817 non-null  float64
 43  max_bal_bc                  68817 non-null  float64
 44  all_util                    68817 non-null  float64
 45  total_rev_hi_lim            68817 non-null  float64
 46  inq_fi                      68817 non-null  float64
 47  total_cu_tl                 68817 non-null  float64
 48  inq_last_12m                68817 non-null  float64
 49  acc_open_past_24mths        68817 non-null  float64
 50  avg_cur_bal                 68817 non-null  float64
 51  bc_open_to_buy              68817 non-null  float64
 52  bc_util                     68817 non-null  float64
 53  chargeoff_within_12_mths    68817 non-null  float64
 54  delinq_amnt                 68817 non-null  float64
 55  mo_sin_old_il_acct          68817 non-null  float64
 56  mo_sin_old_rev_tl_op        68817 non-null  float64
 57  mo_sin_rcnt_rev_tl_op       68817 non-null  float64
 58  mo_sin_rcnt_tl              68817 non-null  float64
 59  mort_acc                    68817 non-null  float64
 60  mths_since_recent_bc        68817 non-null  float64
 61  mths_since_recent_inq       68817 non-null  float64
 62  num_accts_ever_120_pd       68817 non-null  float64
 63  num_actv_bc_tl              68817 non-null  float64
 64  num_actv_rev_tl             68817 non-null  float64
 65  num_bc_sats                 68817 non-null  float64
 66  num_bc_tl                   68817 non-null  float64
 67  num_il_tl                   68817 non-null  float64
 68  num_op_rev_tl               68817 non-null  float64
 69  num_rev_accts               68817 non-null  float64
 70  num_rev_tl_bal_gt_0         68817 non-null  float64
 71  num_sats                    68817 non-null  float64
 72  num_tl_120dpd_2m            68817 non-null  float64
 73  num_tl_30dpd                68817 non-null  float64
 74  num_tl_90g_dpd_24m          68817 non-null  float64
 75  num_tl_op_past_12m          68817 non-null  float64
 76  pct_tl_nvr_dlq              68817 non-null  float64
 77  percent_bc_gt_75            68817 non-null  float64
 78  pub_rec_bankruptcies        68817 non-null  float64
 79  tax_liens                   68817 non-null  float64
 80  tot_hi_cred_lim             68817 non-null  float64
 81  total_bal_ex_mort           68817 non-null  float64
 82  total_bc_limit              68817 non-null  float64
 83  total_il_high_credit_limit  68817 non-null  float64
 84  hardship_flag               68817 non-null  object
 85  debt_settlement_flag        68817 non-null  object
dtypes: float64(76), object(10)
memory usage: 45.2+ MB

# Split the Data into Training and Testing

In [74]:
from sklearn.preprocessing import LabelEncoder

In [75]:
categ = ['home_ownership',
         'verification_status',
         'issue_d',
         'loan_status',
         'pymnt_plan',
         'initial_list_status',
         'next_pymnt_d', 'application_type', 'hardship_flag', 'debt_settlement_flag'
        ]
le = LabelEncoder()
df[categ] = df[categ].apply(le.fit_transform)
df.head(10)

,loan_amnt,int_rate,installment,home_ownership,annual_inc,verification_status,issue_d,loan_status,pymnt_plan,dti,...,pct_tl_nvr_dlq,percent_bc_gt_75,pub_rec_bankruptcies,tax_liens,tot_hi_cred_lim,total_bal_ex_mort,total_bc_limit,total_il_high_credit_limit,hardship_flag,debt_settlement_flag
0,10500.0,0.1719,375.35,3,66000.0,1,2,1,0,27.24,...,85.7,100.0,0.0,0.0,65687.0,38199.0,2000.0,61987.0,0,0
1,25000.0,0.2000,929.09,1,105000.0,2,2,1,0,20.23,...,91.2,50.0,1.0,0.0,271427.0,60641.0,41200.0,49197.0,0,0
2,20000.0,0.2000,529.88,1,56000.0,2,2,1,0,24.26,...,66.7,50.0,0.0,0.0,60644.0,45684.0,7500.0,43144.0,0,0
3,10000.0,0.1640,353.55,3,92000.0,2,2,1,0,31.44,...,100.0,50.0,1.0,0.0,99506.0,68784.0,19700.0,76506.0,0,0
4,22000.0,0.1474,520.39,1,52000.0,0,2,1,0,18.76,...,100.0,0.0,0.0,0.0,219750.0,25919.0,27600.0,20000.0,0,0
5,25000.0,0.1797,634.43,1,90000.0,1,2,1,0,18.49,...,93.1,66.7,0.0,0.0,550717.0,418934.0,18800.0,369051.0,0,0
6,20400.0,0.2000,540.48,3,51315.0,1,2,1,0,25.63,...,100.0,0.0,1.0,0.0,40023.0,23469.0,3500.0,27523.0,0,0
7,10000.0,0.1557,349.46,2,66000.0,1,2,1,0,9.00,...,100.0,16.7,0.0,0.0,29300.0,22377.0,8400.0,12500.0,0,0
8,14000.0,0.0881,443.96,3,45000.0,0,2,1,0,10.24,...,100.0,0.0,0.0,0.0,25100.0,9724.0,12100.0,3000.0,0,0
9,10000.0,0.1474,345.39,3,63295.0,2,2,1,0,39.34,...,97.2,71.4,0.0,0.0,119822.0,102924.0,15300.0,80722.0,0,0

In [49]:
# Create our features
X = df.drop(columns="loan_status")


# Create our target
y = df["loan_status"]

In [50]:
X.describe()

,loan_amnt,int_rate,installment,home_ownership,annual_inc,verification_status,issue_d,pymnt_plan,dti,delinq_2yrs,...,pct_tl_nvr_dlq,percent_bc_gt_75,pub_rec_bankruptcies,tax_liens,tot_hi_cred_lim,total_bal_ex_mort,total_bc_limit,total_il_high_credit_limit,hardship_flag,debt_settlement_flag
count,68817.000000,68817.000000,68817.000000,68817.000000,6.881700e+04,68817.000000,68817.000000,68817.0,68817.000000,68817.000000,...,68817.000000,68817.000000,68817.000000,68817.0,6.881700e+04,6.881700e+04,68817.000000,6.881700e+04,68817.0,68817.0
mean,16677.594562,0.127718,480.652863,1.812779,8.821371e+04,0.669994,0.805542,0.0,21.778153,0.217766,...,95.057627,30.626217,0.125972,0.0,2.100332e+05,6.133843e+04,29734.128558,5.572240e+04,0.0,0.0
std,10277.348590,0.048130,288.062432,0.941313,1.155800e+05,0.719105,0.714932,0.0,20.199244,0.718367,...,8.326426,33.631463,0.336732,0.0,1.928088e+05,5.738798e+04,26795.394232,5.095845e+04,0.0,0.0
min,1000.000000,0.060000,30.890000,0.000000,4.000000e+01,0.000000,0.000000,0.0,0.000000,0.000000,...,20.000000,0.000000,0.000000,0.0,3.600000e+03,2.350000e+02,100.000000,1.270000e+02,0.0,0.0
25%,9000.000000,0.088100,265.730000,1.000000,5.000000e+04,0.000000,0.000000,0.0,13.890000,0.000000,...,93.000000,0.000000,0.000000,0.0,6.697700e+04,2.650300e+04,11600.000000,2.288000e+04,0.0,0.0
50%,15000.000000,0.118000,404.560000,1.000000,7.300000e+04,1.000000,1.000000,0.0,19.760000,0.000000,...,100.000000,20.000000,0.000000,0.0,1.467100e+05,4.535700e+04,22100.000000,4.200000e+04,0.0,0.0
75%,24000.000000,0.155700,648.100000,3.000000,1.040000e+05,1.000000,1.000000,0.0,26.660000,0.000000,...,100.000000,50.000000,0.000000,0.0,3.036400e+05,7.657000e+04,39300.000000,7.249900e+04,0.0,0.0
max,40000.000000,0.308400,1676.230000,3.000000,8.797500e+06,2.000000,2.000000,0.0,999.000000,18.000000,...,100.000000,100.000000,4.000000,0.0,3.292782e+06,1.295455e+06,509400.000000,1.426964e+06,0.0,0.0

In [51]:
df['loan_status']

0        1
1        1
2        1
3        1
4        1
        ..
68812    1
68813    1
68814    1
68815    1
68816    1
Name: loan_status, Length: 68817, dtype: int32

In [52]:
# Check the balance of our target values
y.value_counts()

1    68470
0      347
Name: loan_status, dtype: int64

In [53]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=1)

# Oversampling

In this section, you will compare two oversampling algorithms to determine which algorithm results in the best performance. You will oversample the data using the naive random oversampling algorithm and the SMOTE algorithm. For each algorithm, be sure to complete the folliowing steps:

1. View the count of the target classes using `Counter` from the collections library. 
3. Use the resampled data to train a logistic regression model.
3. Calculate the balanced accuracy score from sklearn.metrics.
4. Print the confusion matrix from sklearn.metrics.
5. Generate a classication report using the `imbalanced_classification_report` from imbalanced-learn.

Note: Use a random state of 1 for each sampling algorithm to ensure consistency between tests

### Naive Random Oversampling

In [54]:
# Resample the training data with the RandomOversampler
from imblearn.over_sampling import RandomOverSampler
ros = RandomOverSampler(random_state=1)
X_resampled, y_resampled = ros.fit_resample(X_train, y_train)
Counter(y_resampled)

Counter({1: 51366, 0: 51366})

In [55]:
# Train the Logistic Regression model using the resampled data
from sklearn.linear_model import LogisticRegression
model = LogisticRegression(solver='lbfgs', random_state=1)
model.fit(X_resampled, y_resampled)

LogisticRegression(random_state=1)

In [56]:
# Calculated the balanced accuracy score
from sklearn.metrics import confusion_matrix
y_pred = model.predict(X_test)
confusion_matrix(y_test, y_pred)
from sklearn.metrics import balanced_accuracy_score
balanced_accuracy_score(y_test, y_pred)

0.663148681566005

In [57]:
# Display the confusion matrix
from sklearn.metrics import confusion_matrix
y_pred = model.predict(X_test)
confusion_matrix(y_test, y_pred)

array([[  75,   26],
       [7120, 9984]], dtype=int64)

In [58]:
# Print the imbalanced classification report
from imblearn.metrics import classification_report_imbalanced
print(classification_report_imbalanced(y_test, y_pred))

                   pre       rec       spe        f1       geo       iba       sup

          0       0.01      0.74      0.58      0.02      0.66      0.44       101
          1       1.00      0.58      0.74      0.74      0.66      0.43     17104

avg / total       0.99      0.58      0.74      0.73      0.66      0.43     17205

### SMOTE Oversampling

In [59]:
# Resample the training data with SMOTE
from imblearn.over_sampling import SMOTE
X_resampled, y_resampled = SMOTE(random_state=1,
sampling_strategy='auto').fit_resample(
   X_train, y_train)

In [60]:
# Train the Logistic Regression model using the resampled data
model = LogisticRegression(solver='lbfgs', random_state=1)
model.fit(X_resampled, y_resampled)

LogisticRegression(random_state=1)

In [61]:
# Calculated the balanced accuracy score
from sklearn.metrics import balanced_accuracy_score
balanced_accuracy_score(y_test, y_pred)

0.663148681566005

In [62]:
# Display the confusion matrix
from sklearn.metrics import confusion_matrix
y_pred = model.predict(X_test)
confusion_matrix(y_test, y_pred)

array([[   63,    38],
       [ 5222, 11882]], dtype=int64)

In [63]:
# Print the imbalanced classification report
print(classification_report_imbalanced(y_test, y_pred))

                   pre       rec       spe        f1       geo       iba       sup

          0       0.01      0.62      0.69      0.02      0.66      0.43       101
          1       1.00      0.69      0.62      0.82      0.66      0.44     17104

avg / total       0.99      0.69      0.62      0.81      0.66      0.44     17205

# Undersampling

In this section, you will test an undersampling algorithms to determine which algorithm results in the best performance compared to the oversampling algorithms above. You will undersample the data using the Cluster Centroids algorithm and complete the folliowing steps:

1. View the count of the target classes using `Counter` from the collections library. 
3. Use the resampled data to train a logistic regression model.
3. Calculate the balanced accuracy score from sklearn.metrics.
4. Print the confusion matrix from sklearn.metrics.
5. Generate a classication report using the `imbalanced_classification_report` from imbalanced-learn.

Note: Use a random state of 1 for each sampling algorithm to ensure consistency between tests

In [76]:
# Resample the data using the ClusterCentroids resampler
# Warning: This is a large dataset, and this step may take some time to complete
from imblearn.under_sampling import ClusterCentroids
cc = ClusterCentroids(random_state=1)
X_resampled, y_resampled = cc.fit_resample(X_train, y_train)

        loan_amnt  int_rate  installment  home_ownership     annual_inc  \
0    15000.000000  0.189400   388.620000               1   92000.000000
1    35000.000000  0.150200   833.020000               1   56800.000000
2    15000.000000  0.075600   467.010000               1   39272.000000
3     3600.000000  0.075600   112.090000               1   50000.000000
4    28500.000000  0.118000   631.100000               1   89000.000000
..            ...       ...          ...             ...            ...
487  28074.305556  0.107739   775.267500               1  224703.194444
488  26805.128205  0.126959   772.513077               2  258401.025641
489  28555.752212  0.118229   808.661239               1  201687.557522
490  12158.446602  0.145536   368.396039               2   59746.539806
491  20139.033457  0.108232   556.716134               1   84508.659182

     verification_status  issue_d  pymnt_plan        dti  delinq_2yrs  ...  \
0                      0        0           0  18.370000     0.000000  ...
1                      2        0           0  45.510000     0.000000  ...
2                      0        2           0  42.360000     0.000000  ...
3                      0        2           0  13.350000     0.000000  ...
4                      0        1           0  11.480000     0.000000  ...
..                   ...      ...         ...        ...          ...  ...
487                    0        0           0  25.134167     0.111111  ...
488                    0        0           0  20.749231     0.512821  ...
489                    0        0           0  18.124602     0.221239  ...
490                    0        0           0  28.308330     0.306796  ...
491                    0        0           0  20.496171     0.197026  ...

     pct_tl_nvr_dlq  percent_bc_gt_75  pub_rec_bankruptcies  tax_liens  \
0        100.000000         40.000000              0.000000        0.0
1        100.000000         57.100000              0.000000        0.0
2         94.400000          0.000000              1.000000        0.0
3         96.800000          0.000000              0.000000        0.0
4        100.000000          0.000000              0.000000        0.0
..              ...               ...                   ...        ...
487       98.438889         30.113889              0.000000        0.0
488       95.207692         43.446154              0.076923        0.0
489       96.607080         46.467257              0.044248        0.0
490       93.034563         38.086019              0.139806        0.0
491       97.338662         21.698885              0.070632        0.0

     tot_hi_cred_lim  total_bal_ex_mort  total_bc_limit  \
0       98901.000000       60805.000000    29500.000000
1      421450.000000       88633.000000    50100.000000
2       75183.000000       45491.000000    13400.000000
3      186083.000000       14548.000000    11200.000000
4      179730.000000       34902.000000    13700.000000
..               ...                ...             ...
487    696469.722222      272398.194444    89600.000000
488    345108.358974      289402.230769    43520.512821
489    437680.725664      105903.141593    58592.035398
490    116744.869903      102584.223301    13258.834951
491    360712.754647       48177.516729    50042.007435

     total_il_high_credit_limit  hardship_flag  debt_settlement_flag
0                  65601.000000              0                     0
1                  86358.000000              0                     0
2                  55783.000000              0                     0
3                  19383.000000              0                     0
4                  36500.000000              0                     0
..                          ...            ...                   ...
487               260219.750000              0                     0
488               277769.461538              0                     0
489                79814.831858              0                     0
490                95267.963107              0                     0
491                35694.687732              0                     0

[492 rows x 85 columns]
       loan_amnt  int_rate  installment  home_ownership  annual_inc  \
3903      1600.0    0.0881        50.74               2     35964.0
28390     9000.0    0.0756       280.21               2     41000.0
15470    10000.0    0.1033       214.10               1    112000.0
4279     36000.0    0.1033      1167.21               3    120000.0
57514    18000.0    0.0881       570.81               1     51000.0
...          ...       ...          ...             ...         ...
49100     8400.0    0.0646       257.30               1     37992.0
20609    30000.0    0.0646       918.93               1    217000.0
21440    20000.0    0.1180       442.88               1     35000.0
50057    11625.0    0.1447       273.34               3     30000.0
5192     20000.0    0.1033       428.20               1     60000.0

       verification_status  issue_d  pymnt_plan    dti  delinq_2yrs  ...  \
3903                     0        2           0  24.12          0.0  ...
28390                    0        0           0  16.89          1.0  ...
15470                    2        0           0  17.75          0.0  ...
4279                     0        2           0  19.95          0.0  ...
57514                    2        1           0  19.11          1.0  ...
...                    ...      ...         ...    ...          ...  ...
49100                    0        1           0  33.16          0.0  ...
20609                    0        0           0  19.56          0.0  ...
21440                    0        0           0  16.19          0.0  ...
50057                    0        1           0  18.96          0.0  ...
5192                     1        2           0  59.56          0.0  ...

       pct_tl_nvr_dlq  percent_bc_gt_75  pub_rec_bankruptcies  tax_liens  \
3903            100.0               0.0                   0.0        0.0
28390            95.0              33.3                   0.0        0.0
15470            92.6              20.0                   0.0        0.0
4279            100.0              40.0                   0.0        0.0
57514            95.5              25.0                   0.0        0.0
...               ...               ...                   ...        ...
49100           100.0               0.0                   0.0        0.0
20609           100.0               7.7                   0.0        0.0
21440           100.0               0.0                   0.0        0.0
50057            86.7              20.0                   0.0        0.0
5192            100.0              20.0                   0.0        0.0

       tot_hi_cred_lim  total_bal_ex_mort  total_bc_limit  \
3903          148200.0            14292.0         58300.0
28390          68292.0            52587.0         24500.0
15470         416023.0            78944.0         65400.0
4279          116200.0            73826.0         85200.0
57514         221075.0           126195.0         36500.0
...                ...                ...             ...
49100         119052.0            67055.0         52800.0
20609         358467.0           206670.0        137300.0
21440         140700.0             7641.0         13700.0
50057          96441.0            79650.0         22700.0
5192          477516.0           200731.0         62100.0

       total_il_high_credit_limit  hardship_flag  debt_settlement_flag
3903                      15000.0              0                     0
28390                     40492.0              0                     0
15470                     80642.0              0                     0
4279                      30000.0              0                     0
57514                     96715.0              0                     0
...                           ...            ...                   ...
49100                     66252.0              0                     0
20609                     84967.0              0                     0
21440                     12000.0              0                     0
50057                     66941.0              0                     0
5192                     199166.0              0                     0

[51612 rows x 85 columns]

In [65]:

# Train the Logistic Regression model using the resampled data
from sklearn.linear_model import LogisticRegression
model = LogisticRegression(solver='lbfgs', random_state=1)
model.fit(X_resampled, y_resampled)

LogisticRegression(random_state=1)

In [66]:
# Calculated the balanced accuracy score
from sklearn.metrics import balanced_accuracy_score
balanced_accuracy_score(y_test, y_pred)

0.65922683825913

In [67]:
# Display the confusion matrix
from sklearn.metrics import confusion_matrix
y_pred = model.predict(X_test)
confusion_matrix(y_test, y_pred)

array([[   69,    32],
       [10252,  6852]], dtype=int64)

In [68]:
# Print the imbalanced classification report
from imblearn.metrics import classification_report_imbalanced
print(classification_report_imbalanced(y_test, y_pred))

                   pre       rec       spe        f1       geo       iba       sup

          0       0.01      0.68      0.40      0.01      0.52      0.28       101
          1       1.00      0.40      0.68      0.57      0.52      0.27     17104

avg / total       0.99      0.40      0.68      0.57      0.52      0.27     17205

# Combination (Over and Under) Sampling

In this section, you will test a combination over- and under-sampling algorithm to determine if the algorithm results in the best performance compared to the other sampling algorithms above. You will resample the data using the SMOTEENN algorithm and complete the folliowing steps:

1. View the count of the target classes using `Counter` from the collections library. 
3. Use the resampled data to train a logistic regression model.
3. Calculate the balanced accuracy score from sklearn.metrics.
4. Print the confusion matrix from sklearn.metrics.
5. Generate a classication report using the `imbalanced_classification_report` from imbalanced-learn.

Note: Use a random state of 1 for each sampling algorithm to ensure consistency between tests

In [69]:
# Resample the training data with SMOTEENN
# Warning: This is a large dataset, and this step may take some time to complete
from imblearn.combine import SMOTEENN
smote_enn = SMOTEENN(random_state=0)
X_resampled, y_resampled = smote_enn.fit_resample(X, y)

In [70]:
# Train the Logistic Regression model using the resampled data
from sklearn.linear_model import LogisticRegression
model = LogisticRegression(solver='lbfgs', random_state=1)
model.fit(X_resampled, y_resampled)

LogisticRegression(random_state=1)

In [71]:
# Calculated the balanced accuracy score
from sklearn.metrics import balanced_accuracy_score
balanced_accuracy_score(y_test, y_pred)

0.5418881808667303

In [72]:
# Display the confusion matrix
from sklearn.metrics import confusion_matrix
y_pred = model.predict(X_test)
confusion_matrix(y_test, y_pred)

array([[   74,    27],
       [ 7080, 10024]], dtype=int64)

In [73]:
# Print the imbalanced classification report
from imblearn.metrics import classification_report_imbalanced
print(classification_report_imbalanced(y_test, y_pred))

                   pre       rec       spe        f1       geo       iba       sup

          0       0.01      0.73      0.59      0.02      0.66      0.44       101
          1       1.00      0.59      0.73      0.74      0.66      0.42     17104

avg / total       0.99      0.59      0.73      0.73      0.66      0.42     17205